@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
body {
  margin: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

header {
  height: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
  position: relative;
}
header img {
  width: 196px;
  height: 80px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #eaeaea;
  height: fit-content;
  padding: 1.25rem 1rem;
}
.localisation i {
  margin-right: 1rem;
  align-self: center;
}
.localisation h2 {
  margin: 0;
}
.localisation span {
  font-size: 1.2rem;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f6f6f6;
  height: fit-content;
  padding: 1.25rem 1rem;
}
.presentation h1 {
  margin-bottom: 9px;
  text-align: center;
}
.presentation p {
  text-align: center;
  font-weight: 100;
}
.presentation .presentation__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: fit-content;
  align-self: center;
  height: 3rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-top: 20px;
  margin-bottom: 40px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 2rem;
  box-shadow: 0 4px 15px -2px #afafaf;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 1rem;
}

.fonctionnement h2 {
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}
.fonctionnement .container {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fonctionnement .container .fonctionnement__number {
  height: 10px;
  z-index: 1;
}
.fonctionnement .fonctionnement__button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  height: 5rem;
  width: 85%;
  margin-right: 10px;
  margin-bottom: 25px;
  background-color: transparent;
  border-radius: 1.2rem;
  max-width: 350px;
}
.fonctionnement .fonctionnement__button .fonctionnement__number {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 2;
  height: 25px;
  width: 25px;
  border-radius: 100%;
  background-color: #9356dc;
  position: absolute;
  color: #fff;
}
.fonctionnement .fonctionnement__button .button {
  width: 100%;
  border: none;
  cursor: pointer;
  height: 100%;
  z-index: 1;
  position: relative;
  border-radius: 1.2rem;
  margin-left: 11px;
  box-shadow: 0 4px 15px -2px #afafaf;
  background-color: #f6f6f6;
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  padding-right: 20%;
  font-weight: 535;
  font-size: 1rem;
}
.fonctionnement .fonctionnement__button .button i {
  margin-left: 10%;
  margin-right: 8%;
}

/*# sourceMappingURL=style.css.map */
