@import "../utils/mixins";

footer {
  background-color: #353535;
  height: fit-content;
  padding-top: 20px;
  padding-bottom: 40px;
  @include flexdisplay(space-between, flex-start, column);
  h2 {
    font-family: "Shrikhand", Arial, Helvetica, sans-serif;
    margin: 0;
    padding-left: 1.5rem;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin-bottom: 14px;
  }
  a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    word-spacing: 2px;
    font-size: 1rem;
    margin-bottom: 10px;
  }
  .footer__links {
    @include flexdisplay(space-between, flex-start, column);
    padding-left: 1.5rem;
  }
}
