header {
  height: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 10px 18px -6px rgba(0, 0, 0, 0.51);
  img {
    width: 196px;
    height: 80px;
  }
}
