header {
  height: 5rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-content: center;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  z-index: 1000;
  position: relative;
  i {
    position: absolute;
    left: 1.5rem;
    top: 2rem;
    cursor: pointer;
  }
  img {
    width: 196px;
    height: 80px;
  }
}
