@import "../utils/variables";
@import "../utils/mixins";

.menu {
  z-index: 1;
  top: 330px;
  width: 100%;
  height: fit-content;
  background-color: $softgrey;
  border-radius: 3rem 3rem 0 0;
  margin-top: 5px;
}

.plats__liste {
  padding-top: 30px;
  h2 {
    padding-left: 20px;
    font-weight: 300;
    padding-bottom: 8px;
    width: fit-content;
    margin-bottom: 0;
  }
  .underscore {
    width: 60px;
    height: 5px;
    margin-left: 20px;
    background-color: $tertiary-color;
    margin-bottom: 20px;
  }
}

.plat__container {
  @include flexdisplay(flex-start, center, column);
  margin-bottom: 20px;
  height: 80px;
}

.plat__button {
  height: 90px;
  background-color: white;
  width: 90%;
  box-shadow: 0 4px 15px -2px #afafaf;
  border-radius: 1rem;
  @include flexdisplay(space-between, center);
  white-space: nowrap;
  position: relative;
}

.plat__text {
  padding-left: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: fit-content;
  max-height: 71px;
  white-space: nowrap;
  display: inline-block;
  h3 {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  p {
    font-weight: 300;
    margin: 0;
    margin-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.plat__prix {
  align-self: flex-end;
  h3 {
    margin: 0;
    padding-right: 20px;
    padding-bottom: 15px;
    margin-left: 15px;
  }
}

.commander {
  padding-top: 25px;
  width: fit-content;
  margin: auto;
  padding-bottom: 25px;
}

@media (max-width: 450px) {
  .menu {
    margin-top: 30px;
  }
  h1 {
    font-size: 30px;
  }
}
