@import "../utils/variables";
@import "../utils/mixins";
.header__menu {
  @include flexdisplay(space-between, center);
}

.photo {
  width: 100%;
  z-index: -1;
  position: relative;
  height: 350px;
  img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .photo__crop {
    position: absolute;
    height: 80px;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: $softgrey;
    border-radius: 3rem 3rem 0 0;
    h1 {
      padding-left: 20px;
      font-family: "Shrikhand", Arial, Helvetica, sans-serif;
      font-weight: 900;
      margin-bottom: 0;
    }
    i {
      padding-right: 30px;
      margin-top: 15px;
      align-self: flex-end;
    }
  }
}
