@import "../utils/variables";

.photo {
  width: 100%;
  z-index: -1;
  position: relative;
  height: 350px;
  img {
    z-index: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .photo__crop {
    position: absolute;
    height: 30px;
    bottom: 0;
    width: 100%;
    z-index: 1;
    background-color: $softgrey;
    border-radius: 3rem 3rem 0 0;
  }
}
