@import "../utils/variables";

.heart {
  position: absolute;
  right: 20px;
  top: 20px;
}

.heart--hover {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0;
  transition: all, 400ms;
  &:hover {
    opacity: 1;
    background-color: white;
  }
}

.fa-gradient {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from($secondary-color),
    to($primary-color)
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  border: none;
}
