@import "../utils/variables";
@import "../utils/mixins";

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.9);
  animation: loader 0.01s;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  z-index: 10000;
  display: flex;
  @include flexdisplay(center, center);
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

.loader__container {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loader__container div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: get-bigger 1s cubic-bezier(0, 0.2, 0.8, 1) 1s;
  animation-iteration-count: 3;
}
.loader__container div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes get-bigger {
  0% {
    border: 4px solid $primary-color;
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  50% {
    border: 4px solid $secondary-color;
    opacity: 0.5;
  }
  75% {
    border: 4px solid $tertiary-color;
    opacity: 0.15;
  }
  100% {
    border: 4px solid $tertiary-color;
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
