@import "../utils/variables";
@import "../utils/mixins";

.localisation {
  @include flexdisplay(center, center);
  background-color: $localizecolor;
  height: fit-content;
  padding: 1.25rem 1rem;
  i {
    margin-right: 1rem;
    align-self: center;
  }
  h2 {
    margin: 0;
  }
  span {
    font-size: 1.2rem;
  }
}

.presentation {
  @include flexdisplay(center, center, column);
  background-color: $softgrey;
  height: fit-content;
  padding: 1.25rem 1rem;
  h1 {
    margin-bottom: 9px;
    text-align: center;
  }
  p {
    text-align: center;
    font-weight: 100;
  }
  .presentation__button {
    @include flexdisplay(center, center);
    width: fit-content;
    align-self: center;
    height: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 20px;
    margin-bottom: 40px;
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 2rem;
    box-shadow: 0 4px 15px -2px #afafaf;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }
}

.fonctionnement {
  h2 {
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }
  .container {
    height: fit-content;
    @include flexdisplay(center, center, column);
    .fonctionnement__number {
      height: 10px;
      z-index: 1;
    }
  }
  .fonctionnement__button {
    @include flexdisplay(flex-start, center);
    height: 5rem;
    width: 85%;
    margin-right: 10px;
    margin-bottom: 25px;
    background-color: transparent;
    border-radius: 1.2rem;
    .fonctionnement__number {
      @include flexdisplay(center, center);
      z-index: 2;
      height: 25px;
      width: 25px;
      border-radius: 100%;
      background-color: $primary-color;
      position: absolute;
      color: #fff;
    }
    .button {
      width: 100%;
      border: none;
      cursor: pointer;
      height: 100%;
      z-index: 1;
      position: relative;
      border-radius: 1.2rem;
      margin-left: 11px;
      box-shadow: 0 4px 15px -2px #afafaf;
      background-color: $softgrey;
      @include flexdisplay(space-between, center);
      i {
        margin-left: 10%;
      }
      p {
        margin-right: 15%;
        font-weight: 535;
      }
    }
  }
}
