@import "../utils/variables";
@import "../utils/mixins";

.localisation {
  @include flexdisplay(center, center);
  background-color: $localizecolor;
  height: fit-content;
  padding: 1.25rem 1rem;
  i {
    margin-right: 1rem;
    align-self: center;
  }
  h2 {
    margin: 0;
  }
  span {
    font-size: 1.2rem;
  }
}

.presentation {
  @include flexdisplay(center, center, column);
  background-color: $softgrey;
  height: fit-content;
  padding: 1.25rem 1rem;
  h1 {
    margin-bottom: 9px;
    text-align: center;
  }
  p {
    text-align: center;
    font-weight: 100;
  }
  .presentation__button {
    @include flexdisplay(center, center);
    width: fit-content;
    align-self: center;
    height: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-top: 20px;
    margin-bottom: 40px;
    background: linear-gradient($secondary-color, $primary-color);
    border-radius: 2rem;
    box-shadow: 0 4px 15px -2px #afafaf;
    border: none;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1rem;
  }
}
